= render "shared/header"

.new-title
  コーディネートを投稿する

.item-select
  .item-select__category
    .item-select_category__title
      アウターを選択
    - if @outer_items.present?
      .item-select__category__image
        - @outer_items.each do |item|
          = image_tag item.image.url, class: "outer-item", data: {item_id: item.id}
    - else
      .item-select__category__not-image
        アウターのアイテムはありません

  .item-select__category
    .item-select_category__title
      トップスを選択
    - if @tops_items.present?
      .item-select__category__image
        - @tops_items.each do |item|
          = image_tag item.image.url, class: "tops-item", data: {item_id: item.id}
    - else
      .item-select__category__not-image
        トップスのアイテムはありません

  .item-select__category
    .item-select_category__title
      パンツを選択
    - if @pants_items.present?
      .item-select__category__image
        - @pants_items.each do |item|
          = image_tag item.image.url, class: "pants-item", data: {item_id: item.id}
    - else
      .item-select__category__not-image
        パンツのアイテムはありません

  .item-select__category
    .item-select_category__title
      靴を選択
    - if @shoes_items.present?
      .item-select__category__image
        - @shoes_items.each do |item|
          = image_tag item.image.url, class: "shoes-item", data: {item_id: item.id}
    - else
      .item-select__category__not-image
        靴のアイテムはありません

  .item-select__category
    .item-select_category__title
      バッグを選択
    - if @bag_items.present?
      .item-select__category__image
        - @bag_items.each do |item|
          = image_tag item.image.url, class: "bag-item", data: {item_id: item.id}
    - else
      .item-select__category__not-image
        バッグのアイテムはありません

  .item-select__category
    .item-select_category__title
      小物を選択
    - if @accessory_items.present?
      .item-select__category__image
        - @accessory_items.each do |item|
          = image_tag item.image.url, class: "accessory-item", data: {item_id: item.id}
    - else
      .item-select__category__not-image
        小物のアイテムはありません

.coordinate-form
  = form_with model: @coordinate, data: { remote: false } do |f|
    = f.text_area :description, class: "coordinate-form__box__area"
    = f.submit "投稿", class: "coordinate-form__box__button"