= render "shared/header"
= render "shared/items-new"
= render "shared/coordinates-new"

.coordinate-show
  .coordinate-show__image-box
    - @coordinate.items.each do |item|
      - if item.category == "アウター"  
        .coordinate-show__image-box__unit
          .coordinate-show__image-box__unit__category
            Outer
          .coordinate-item-image-unit
            = image_tag item.image.url, class: "coordinate-item-image-unit__url"
            .coordinate-item-image-unit__show
              %br/
              %br/
              %br/
              %br/
              %br/
              %br/
              .coordinate-item-image-unit__show__text
                = item.name
              .coordinate-item-image-unit__show__text
                SIZE
                = item.size
              .coordinate-item-image-unit__show__text
                BRAND
                = item.brand

      - if item.category == "トップス"
        .coordinate-show__image-box__unit
          .coordinate-show__image-box__unit__category
            Tops
          .coordinate-item-image-unit
            = image_tag item.image.url, class: "coordinate-item-image-unit__url"
            .coordinate-item-image-unit__show
              %br/
              %br/
              %br/
              %br/
              %br/
              %br/
              .coordinate-item-image-unit__show__text
                = item.name
              .coordinate-item-image-unit__show__text
                SIZE
                = item.size
              .coordinate-item-image-unit__show__text
                BRAND
                = item.brand

      - if item.category == "パンツ"  
        .coordinate-show__image-box__unit
          .coordinate-show__image-box__unit__category
            Pants
          .coordinate-item-image-unit
            = image_tag item.image.url, class: "coordinate-item-image-unit__url"
            .coordinate-item-image-unit__show
              %br/
              %br/
              %br/
              %br/
              %br/
              %br/
              .coordinate-item-image-unit__show__text
                = item.name
              .coordinate-item-image-unit__show__text
                SIZE
                = item.size
              .coordinate-item-image-unit__show__text
                BRAND
                = item.brand

      - if item.category == "靴"  
        .coordinate-show__image-box__unit
          .coordinate-show__image-box__unit__category
            Shoes
          .coordinate-item-image-unit
            = image_tag item.image.url, class: "coordinate-item-image-unit__url"
            .coordinate-item-image-unit__show
              %br/
              %br/
              %br/
              %br/
              %br/
              %br/
              .coordinate-item-image-unit__show__text
                = item.name
              .coordinate-item-image-unit__show__text
                SIZE
                = item.size
              .coordinate-item-image-unit__show__text
                BRAND
                = item.brand

      - if item.category == "バッグ"  
        .coordinate-show__image-box__unit
          .coordinate-show__image-box__unit__category
            Bag
          .coordinate-item-image-unit
            = image_tag item.image.url, class: "coordinate-item-image-unit__url"
            .coordinate-item-image-unit__show
              %br/
              %br/
              %br/
              %br/
              %br/
              %br/
              .coordinate-item-image-unit__show__text
                = item.name
              .coordinate-item-image-unit__show__text
                SIZE
                = item.size
              .coordinate-item-image-unit__show__text
                BRAND
                = item.brand

      - if item.category == "小物"  
        .coordinate-show__image-box__unit
          .coordinate-show__image-box__unit__category
            Accessory
          .coordinate-item-image-unit
            = image_tag item.image.url, class: "coordinate-item-image-unit__url"
            .coordinate-item-image-unit__show
              %br/
              %br/
              %br/
              %br/
              %br/
              %br/
              .coordinate-item-image-unit__show__text
                = item.name
              .coordinate-item-image-unit__show__text
                SIZE
                = item.size
              .coordinate-item-image-unit__show__text
                BRAND
                = item.brand

  .coordinate-show__user-box
    .coordinate-show__user-box__name
      = @coordinate.user.name
    .coordinate-show__user-box__avater
      - if @coordinate.user.image.url.present?
        = link_to "/users/#{@coordinate.user.id}" do
          = image_tag @coordinate.user.image.url
      - else
        = link_to "/users/#{@coordinate.user.id}" do
          = image_tag "https://applimura.com/wp-content/uploads/2019/08/twittericon13.jpg"
    .coordinate-show__user-box__time
      = @coordinate.created_at.strftime("%Y/%m/%d %H:%M")
    .coordinate-show__user-box__icon
      = fa_icon "heart-o"
      0
    .coordinate-show__user-box__icon
      = fa_icon "comment-o"
      = @coordinate.comments.length
    - if user_signed_in?
      - if current_user == @coordinate.user
        = link_to "/coordinates/#{@coordinate.id}/edit", class: "coordinate-link" do
          .coordinate-link_button
            編集する
        = link_to "/coordinates/#{@coordinate.id}", method: "delete", class: "coordinate-link" do
          .coordinate-link_button
            削除する
  .coordinate-show__description
    = simple_format(@coordinate.description)

  .coordinate-show__comment-title
    Comment

  .coordinate-show__comment-box
    - @comments.each do |comment|
      .coordinate-show__comment-box__unit
        .coordinate-show__comment-box__unit__name
          = comment.user.name
        .coordinate-show__comment-box__unit__avater
          - if comment.user.image.url.present?
            = link_to "/users/#{comment.user.id}" do
              = image_tag comment.user.image.url
          - else
            = link_to "/users/#{comment.user.id}" do
              = image_tag "https://applimura.com/wp-content/uploads/2019/08/twittericon13.jpg"
        .coordinate-show__comment-box__unit__time
          = comment.created_at.strftime("%Y/%m/%d %H:%M")
        - if user_signed_in?
          - if current_user == comment.user
            = link_to "/coordinates/#{@coordinate.id}/comments/#{comment.id}", method: "delete", class: "delete-link" do
              .coordinate-show__comment-box__unit__destroy
                削除する
      .coordinate-show__comment-box__text
        = simple_format(comment.text)

  - if user_signed_in?
    .coordinate-show__comment-form
      = form_with model: [@coordinate, @comment], data: { remote: false } do |f|
        = f.text_area :text, class: "coordinate-show__comment-form__area"
        = f.submit "コメントする", class: "coordinate-show__comment-form__button"