= render "shared/header"
= render "shared/items-new"
= render "shared/coordinates-new"

.user-show-box
  .user-show-box__image
    - if @user.image.url.present?
      = image_tag @user.image.url
    - else
      = image_tag "https://applimura.com/wp-content/uploads/2019/08/twittericon13.jpg"

  .user-show-box__name
    .user-show-box__name__top-box
      = @user.name
    .user-show-box__name__bottom-box
      %p.text
        アイテム
        = @user.items.length
        個
      %p.text
        投稿
        = @user.coordinates.length
        件
      %p.text
        フォロワー0人
      %p.text
        フォロー中0人

  - if current_user == @user
    .user-show-box__logout
      = link_to "Logout", destroy_user_session_path, method: :delete

.item-box
  .item-box__category
    .item-box__category__title
      Outer
    - if @outer_items.present?
      .item-box__category__image
        - @outer_items.each do |item|
          .item-image-unit
            = image_tag item.image.url, class: "item-image-unit__url"
            .item-image-unit__show
              - if user_signed_in?
                - if @user == current_user
                  = link_to "/items/#{item.id}/edit", class: "item-image-unit__show__button" do
                    編集
                  - if item.coordinates.empty?
                    %br/
                    = link_to "/items/#{item.id}", method: "delete", class: "item-image-unit__show__button" do
                      削除
                  - else
                    %br/
                    .item-image-unit__show__button
                      コーディネート登録中
                - else
                  %br/
              - else
                %br/
              %br/
              %br/
              .item-image-unit__show__text
                = item.name
              .item-image-unit__show__text
                SIZE
                = item.size
              .item-image-unit__show__text
                BRAND
                = item.brand
    - else
      .item-box__category__not-image
        アウターのアイテムはありません

  .item-box__category
    .item-box__category__title
      Tops
    - if @tops_items.present?
      .item-box__category__image
        - @tops_items.each do |item|
          .item-image-unit
            = image_tag item.image.url, class: "item-image-unit__url"
            .item-image-unit__show
              - if user_signed_in?
                - if @user == current_user
                  = link_to "/items/#{item.id}/edit", class: "item-image-unit__show__button" do
                    編集
                  - if item.coordinates.empty?
                    %br/
                    = link_to "/items/#{item.id}", method: "delete", class: "item-image-unit__show__button" do
                      削除
                  - else
                    %br/
                    .item-image-unit__show__button
                      コーディネート登録中
                - else
                  %br/
              - else
                %br/
              %br/
              %br/
              .item-image-unit__show__text
                = item.name
              .item-image-unit__show__text
                SIZE
                = item.size
              .item-image-unit__show__text
                BRAND
                = item.brand
    - else
      .item-box__category__not-image
        トップスのアイテムはありません

  .item-box__category
    .item-box__category__title
      Pants
    - if @pants_items.present?
      .item-box__category__image
        - @pants_items.each do |item|
          .item-image-unit
            = image_tag item.image.url, class: "item-image-unit__url"
            .item-image-unit__show
              - if user_signed_in?
                - if @user == current_user
                  = link_to "/items/#{item.id}/edit", class: "item-image-unit__show__button" do
                    編集
                  - if item.coordinates.empty?
                    %br/
                    = link_to "/items/#{item.id}", method: "delete", class: "item-image-unit__show__button" do
                      削除
                  - else
                    %br/
                    .item-image-unit__show__button
                      コーディネート登録中
                - else
                  %br/
              - else
                %br/
              %br/
              %br/
              .item-image-unit__show__text
                = item.name
              .item-image-unit__show__text
                SIZE
                = item.size
              .item-image-unit__show__text
                BRAND
                = item.brand
    - else
      .item-box__category__not-image
        パンツのアイテムはありません

  .item-box__category
    .item-box__category__title
      Shoes
    - if @shoes_items.present?
      .item-box__category__image
        - @shoes_items.each do |item|
          .item-image-unit
            = image_tag item.image.url, class: "item-image-unit__url"
            .item-image-unit__show
              - if user_signed_in?
                - if @user == current_user
                  = link_to "/items/#{item.id}/edit", class: "item-image-unit__show__button" do
                    編集
                  - if item.coordinates.empty?
                    %br/
                    = link_to "/items/#{item.id}", method: "delete", class: "item-image-unit__show__button" do
                      削除
                  - else
                    %br/
                    .item-image-unit__show__button
                      コーディネート登録中
                - else
                  %br/
              - else
                %br/
              %br/
              %br/
              .item-image-unit__show__text
                = item.name
              .item-image-unit__show__text
                SIZE
                = item.size
              .item-image-unit__show__text
                BRAND
                = item.brand
    - else
      .item-box__category__not-image
        靴のアイテムはありません

  .item-box__category
    .item-box__category__title
      Bag
    - if @bag_items.present?
      .item-box__category__image
        - @bag_items.each do |item|
          .item-image-unit
            = image_tag item.image.url, class: "item-image-unit__url"
            .item-image-unit__show
              - if user_signed_in?
                - if @user == current_user
                  = link_to "/items/#{item.id}/edit", class: "item-image-unit__show__button" do
                    編集
                  - if item.coordinates.empty?
                    %br/
                    = link_to "/items/#{item.id}", method: "delete", class: "item-image-unit__show__button" do
                      削除
                  - else
                    %br/
                    .item-image-unit__show__button
                      コーディネート登録中
                - else
                  %br/
              - else
                %br/
              %br/
              %br/
              .item-image-unit__show__text
                = item.name
              .item-image-unit__show__text
                SIZE
                = item.size
              .item-image-unit__show__text
                BRAND
                = item.brand
    - else
      .item-box__category__not-image
        バッグのアイテムはありません

  .item-box__category
    .item-box__category__title
      Accessory
    - if @accessory_items.present?
      .item-box__category__image
        - @accessory_items.each do |item|
          .item-image-unit
            = image_tag item.image.url, class: "item-image-unit__url"
            .item-image-unit__show
              - if user_signed_in?
                - if @user == current_user
                  = link_to "/items/#{item.id}/edit", class: "item-image-unit__show__button" do
                    編集
                  - if item.coordinates.empty?
                    %br/
                    = link_to "/items/#{item.id}", method: "delete", class: "item-image-unit__show__button" do
                      削除
                  - else
                    %br/
                    .item-image-unit__show__button
                      コーディネート登録中
                - else
                  %br/
              - else
                %br/
              %br/
              %br/
              .item-image-unit__show__text
                = item.name
              .item-image-unit__show__text
                SIZE
                = item.size
              .item-image-unit__show__text
                BRAND
                = item.brand
    - else
      .item-box__category__not-image
        小物のアイテムはありません
