.header
  .header__logo
    = link_to root_path do
      = fa_icon "instagram"
      Closet box
  
  - if user_signed_in?
    .header__button
      = current_user.name
    - if current_user.image.url.present?
      = link_to "/users/#{current_user.id}" do
        = image_tag current_user.image.url
    - else
      = link_to "/users/#{current_user.id}" do
        = image_tag "https://applimura.com/wp-content/uploads/2019/08/twittericon13.jpg"
  - else
    .header__button
      = link_to "Login", new_user_session_path
    .header__button
      = link_to "Signup", new_user_registration_path